<div class="container">
  <h3>会員一覧</h3>
  <div class="row-3">
    <div class="customers-table">
      <table class="table">
        <tr class="table-active">
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
        <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td><%= link_to customer.first_name + customer.last_name, admin_customer_path(customer.id) %></td>
          <td><%= customer.email %></td>
          <td>
          <% if customer.is_active == true %>
            <p class="text-success"><strong>有効</strong></p>
          <% else %>
            <p class="text-muted"><strong>退会</strong></p>
          <% end %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  <%= paginate @customers, theme: 'twitter-bootstrap-4' %>
</div>
