<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">
      <div class="top-box">
        <div class="top-box2">
          <p>ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
          </p>
        </div>
      </div>

          <h2>新着商品</h2>
          <!--後で画像を取り出す記述を書く（リンクあり？）-->
          <% @items.each do |item| %>
          <%= item.name %>
          <%= item.price %>
          <% end %>
          <div class="top-link">
          <%= link_to "全ての商品を見る >", items_path %>
          </div>
    </div>
  </div>
</div>

