.about-box {
  width: 450px;
  height: 200px;
  background-color: grey;

}

.top-box {
  width: 600px;
  height: 300px;
  background-color: gray;
  // 後で背景画像として挿入し直す
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-box2 {
  width: 400px;
  height: 150px;
  background-color: white;
}