*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
// フォント
header, main, footer{
  font-family: "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
}
// ヘッダー
.navbar-brand img{
  width: 75px;
  height: 75px;
}

.navbar {
  background-color: #e3acae;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  opacity: 95%;
}
// ヘッダーのボタン配置
.nav-link{
  margin-right: 5px;
}
// フッター
footer{
  width: 100%;
  height:80px;
  background-color: #e3acae;
  opacity: 95%;
}
// mainの背景
main{
  padding-top: 130px ;
  padding-bottom: 50px;
  background-color: #fafdff;
  min-height: 100vh;
}


.about-box {
  width: 450px;
  height: 200px;
  background-color: grey;

}

.top-box {
  width: 720px;
  height: 350px;
  background-size: cover;
  background-image: url('../../assets/images/mv.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-box p{
  color: white;
  font-size: 25px;
}

// admin 商品一覧ページのnewリンク
.new-item{
  border-radius: 100px;
  color: #e3acae;
  border: 3px solid #e3acae;
}

.pagination {
  justify-content: center;
  margin-top: 15px;
}

/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;
  color: #696969;
}

/* 表示しているページ番号のデザイン */
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #FFD5EC;
    border-color: #007bff;
    border-radius: 15px;
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;
}
// カードのデザイン
.card{
  margin-top: 15px;
}
.card-hover :hover{
  opacity: 80%;
  color: #e3acae;
}
// thanksページ
.thanks-text{
  padding-top: 220px;
}